h1 {
    text-align: center;
}

#tw-quiz ol li {
    margin-left: 25px;
}

#tw-quiz .tw-correct {
    color: orange;
}

#tw-quiz.incorrect .tw-selected {
    color: red;
}

#tw-quiz.correct .tw-selected.tw-correct {
    color: green;
}

#tw-quiz.correct div.alert.tw-explanation {
    /* Same as alert-success */
    color: #468847;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
