html {
    overflow-y: scroll;
}
body {
    max-width: 940px;
    margin: 0 auto;
    padding: 0 10px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
body.expanding {
    max-width: none;
}
@media all and (min-width: 900px) {
    body.expanding h1, body.expanding h2 {
        display: inline-block;
        vertical-align: middle;
        line-height: 1.5em;
        margin: 0;
        margin-top: 0.5em;
    }
    body.expanding h1 {
        width: 30%;
        margin-right: 1em;
    }
}

h1, h2 {
    text-align: center;
    font-size: 200%;
}
img {
    max-width: 100%;
}
a, a:link, a:visited {
    color: #08c;
    text-decoration: none;
}
a:focus, a:hover {
    color: #005580;
    text-decoration: none;
}

/* === Buttons ============================================================= */

.btn, .btn:link, .btn:visited {
    color: #333;
}
.btn-success, .btn-success:link, .btn-success:visited,
.btn-warning, .btn-warning:link, .btn-warning:visited,
.btn-info, .btn-info:link, .btn-info:visited,
.btn-danger, .btn-danger:link, .btn-danger:visited,
.btn-primary, .btn-primary:link, .btn-primary:visited {
    color: #fff;
}

/* === Quiz questions ====================================================== */

#tw-quiz {
    position: relative;
    clear: both;
    background-color: #EEE;
    padding: 60px;
    margin-bottom: 10px;
    border-radius: 6px;
}
#tw-quiz.busy > * {
    opacity: 0;
}
#tw-quiz.busy:before {
    content: "Please wait...";
    display: block;
    text-align: center;
}

/* === Quiz questions ====================================================== */

#tw-quiz ol {
    position: relative;
}
#tw-quiz ol input {
    margin-top: 9px;
}

#tw-quiz ol li {
    margin-left: 25px;
    line-height: 30px;
}

#tw-quiz ol li.correct:before {
    position: absolute;
    left: -0.9em;
    padding: 1px 0;
    content: "\2714";
    color: green;
}

#tw-quiz ol li.incorrect.selected:before {
    position: absolute;
    left: -1em;
    padding: 1px 0;
    content: "\2717";
    color: red;
}

#tw-quiz.correct div.alert.explanation {
    /* Same as alert-success */
    color: #468847;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

/* === Footer ============================================================== */

#tw-timer {
    display: none;
    text-align: right;
    font-weight: bold;
    margin-bottom: 10px;
}
#tw-timer span:before {
    content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAMAAABhEH5lAAAAMFBMVEX////////////+/v77+/v09PTm5ubd3d3BwcGnp6eMjIxubm5dXV1NTU1AQEBAQEA4t+VPAAAAgklEQVQY002PQQ4EIQgEK1FRQdL//+0e1HX6RCqVBmBnSYtPSiGlpJRLWgZIENkOmnLzCDfXvNoIhXsoxiVdAbVCqB+kCZQOTG0SAVDmm9u2W+yOBpgqQE+AKgNMZ8fu/aC1Hmqy95qpAeR8aOZpsSedW/0yk/91rQFj6VNhnlL6ln9/awULbw0bAgAAAABJRU5ErkJggg==);
    vertical-align: sub;
    padding-right: 3px;
}

.status {
    overflow: hidden;
    font-size: 85%;
}
.status #tw-actions {
    float: right;
    text-align: right;
}
.status #tw-actions > * {
    margin-left: 5px;
    margin-bottom: 3px
}
.status #tw-actions > *:first-child {
    margin-left: 0;
}

.status .grades {
    white-space: nowrap;
}

.status #tw-previous-answers ol {
    margin: 0;
}
.status #tw-previous-answers li {
    float: left;
    width: 3em;
    list-style-position: inside;
    padding-left: 2em;
    font-weight: bold;
}
.status #tw-previous-answers .correct * { color: green; }
.status #tw-previous-answers .incorrect * { color: red; }

footer {
    clear: both;
    margin-top: 1em;
    font-size: 85%;
}

/* === Lecture selection lists ============================================= */

.select-list {
    background-color: white;
    list-style-type: none;
    min-height: 10em;
    margin: 0;
    padding: 1px;
}
.select-list > li {
    border: 1px solid #666;
    margin: 5px;
    border-radius: 5px;
    background-color: #EEE;
}
.select-list a,
.select-list a:link,
.select-list a:visited {
    display: block;
    padding: 0 10px;
}
.select-list a:hover,
.select-list a:active {
    background-color: yellow;
    text-decoration: none;
}
.select-list a.selected {
    background-color: orange;
}

.select-list > li > a {
    border-radius: 5px 5px 0 0;
    border-bottom: 1px solid #666;
}

.select-list > li ul {
    max-height: 0px;
    overflow: hidden;
    list-style-type: none;
    margin: 0;
}
.select-list > li.expanded ul {
    max-height: 1000px;
}
.select-list > li ul li a {
    border-radius: 0;
}

.select-list .grade {
    float: right;
}

/* === Quiz load page ====================================================== */

body.quiz-load #tw-proceed {
    opacity: 0;
}
body.quiz-load #tw-proceed.ready {
    opacity: 1;
}

/* === Slide styling ======================================================= */

.slide-prev, .slide-next {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 40px;
    padding: 0 10px;
    font-size: 200%;
    line-height: 500%;
    text-align: left;
}
.slide-prev:link, .slide-next:link,
.slide-prev:active, .slide-next:active,
.slide-prev:visited, .slide-next:visited {
    text-decoration: none;
    color: #777;
}
.slide-prev:hover, .slide-next:hover {
    color: #300;
}
.slide-next {
    left: auto;
    right: 0;
    text-align: right;
}
.slide-content > * {
    position: relative;
    overflow: hidden;
}
.slide-content figure {
    width: 100%;
    margin: 0;
    text-align: center;
}
.slide-content figure img {
    max-width: 100%;
}
.slide-content figure figcaption small {
    display: block;
}
@media all and (min-width: 900px) {
    .slide-content figure {
        float: right;
        width: 50%;
    }
}
.slide-content details summary {
    line-height: 2em;
    padding: 0 1em;
    cursor: pointer;
}
