html {
    overflow-y: scroll;
}
body {
    max-width: 940px;
    margin: 0 auto;
    padding: 0 10px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
body.expanding {
    max-width: none;
}
@media all and (min-width: 900px) {
    body.expanding > h1, body.expanding > h2 {
        display: inline-block;
        vertical-align: middle;
        line-height: 1.5em;
        margin: 0;
        margin-top: 0.5em;
    }
    body.expanding > h1 {
        width: 30%;
        margin-right: 1%;
    }
    body.expanding > h2 {
        width: 68%;
    }
}

h1, h2 {
    text-align: center;
    font-size: 200%;
}
h3 {
    margin-top: 0;
}
img {
    max-width: 100%;
}
a, a:link, a:visited {
    color: #08c;
    text-decoration: none;
}
a:focus, a:hover {
    color: #005580;
    text-decoration: none;
}
label, input, button, select, textarea {
	font-size: 14px;
	font-weight: normal;
	line-height: 20px;
}
@media screen and (max-width:480px) {
	h2{
		font-size: 160%;
	}
	
}
/* === Buttons ============================================================= */

.button{
	display: inline-block;
	margin-bottom: 0;
	font-weight: normal;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	font-size: 14px;
	line-height: 1.5;
	border-radius: 2px;
	text-decoration: none;
	padding:  8px 10px;
	background: #eeeeee;
	border: 1px solid #dfdfdf;
	color: #333;
	transition: background 0.2s ease-in-out;	
}
.button:hover{
	background: #e7e7e7;
}
.button:link, .button:visited{
	background: #eeeeee;
	color: #333;
}
/* On all pages except the start page the first child is the default button (blue) */
#tw-actions button:first-child{
	background: #08C;
	border: solid 1px #08C;
	color: #fff;
	transition: background 0.2s ease-in-out;	
}
#tw-actions button:first-child:hover{
	background: #006da3;
}
/* The last child always floats left and should not have a left margin */
#tw-actions button:last-child{
	margin-left: 0;
	float: left;
}

/* The last child always floats left but the other buttons float right */
#tw-actions .button, #tw-actions button:first-child{
	float: right;
}
/* Last child on the start page and the load page is the deafult button (blue) */
body.quiz-load #tw-actions a:last-child{
	background: #08C;
	border: solid 1px #08C;
	color: #fff;
	transition: background 0.2s ease-in-out;
	margin-left: 5px;	
}
body.quiz-load #tw-actions a:last-child-child:hover{
	background: #006da3;
}
/* Disabled state of the buttons on the start page */
div#tw-actions a.disabled { 
	background-color: #f6f6f6;
	border-color:#eeeeee;
	color: #878383;
}
 div#tw-actions a:last-child.disabled { 
	background-color: #6a9db7;
	border-color:#6a9db7;
	color: #fff;
}

/* Buttons on small devices */
@media screen and (max-width:480px) {
	body:not(.quiz-start) #tw-actions .button{
		margin-top: 3px;
	}
	/* The Primary action */
	body:not(.quiz-start) #tw-actions button:first-child{
	  	width:100%;
	}
	/* Even children float right and odd children float left */
	body:not(.quiz-start) #tw-actions button:nth-child(odd){
	 	float: left;
	}
	body:not(.quiz-start) #tw-actions button:nth-child(even){
		float: right;
	}
	#tw-actions button:nth-child(odd) {
		margin-left: 0 !important;
	}
	
}

/* The sync button */
#tw-sync{
	margin-top: 10px;
	margin-bottom: 20px;
}
/* Syncing failed state */
a#tw-sync.button-danger{
	background: #f22525;
	border: 1px solid #f22525;
	color: #fff;
	transition: background 0.2s ease-in-out;
}
a#tw-sync.button-danger:hover{
	background: #dc0c0c;
}
a#tw-sync.button-danger:visited{
	color: #fff;
}
a#tw-sync.button-danger:link, .button-danger:visited {
	color: #fff;	
}
/* Syncing success state */
a#tw-sync.button-success{
	background:green;
	border: 1px solid green;
	color: #fff;
	transition: background 0.2s ease-in-out;
}
a#tw-sync.button-success:hover{
	background: #036d03;
}
a#tw-sync.button-success:visited{
	color: #fff;
}
a#tw-sync.button-success:link, a#tw-sync.button-success:visited {
	color: #fff;	
}
div.dropdown{
	width: 100px;
}

/* Button to Show/hides details about grade for small screens (hidden by default) */
#tw-quiz .show-grades {
    display: none;
    margin: 10px 10px 0 auto;
    padding:3px;
    border: none;
    background: none;
    outline: none;
    font-size: smaller;
    font-weight: bold;
    color: #08C;
}

@media screen and (max-width: 480px) {
   #tw-quiz .show-grades {
      display: block; /* Narrow enough, now reveal the link */
   }
   .select-list .grade {
       display: none; /* We don't show them at all when this narrow */
   }
   #tw-quiz.show-grades .select-list .grade {
       display: block; /* Now we do! */
   }
}

/* === Quiz questions ====================================================== */
#tw-quiz {
    position: relative;
    clear: both;
    background-color: #EEE;
    padding: 5%;
    margin-bottom: 10px;
    border-radius: 2px;
}
#tw-quiz.busy > * {
    opacity: 0;
}
#tw-quiz.busy:before {
    content: "Please wait...";
    display: block;
    text-align: center;
}
@media screen and (max-width:480px) {
	body.quiz-start #tw-quiz {
	    padding-left: 0;
	    padding-right: 0;
	}	
}
#tw-quiz ol {
    position: relative;
}
#tw-quiz ol input {
    margin-top: 9px;
}

#tw-quiz ol li {
    margin-left: 25px;
    line-height: 30px;
}

#tw-quiz ol li.correct:before {
    position: absolute;
    left: -0.9em;
    padding: 1px 0;
    content: "\2714";
    color: green;
}

#tw-quiz ol li.incorrect.selected:before {
    position: absolute;
    left: -1em;
    padding: 1px 0;
    content: "\2717";
    color: red;
}

#tw-quiz.correct div.alert.explanation {
    /* Same as alert-success */
    color: #468847;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

#tw-quiz label {
    margin-top: 2em;
}
#tw-quiz textarea {
    min-width: 100%;
    max-width: 100%;
    height: 10em;
}
#tw-quiz input[type='text'] {
    width: 100%;
}

#tw-quiz div.tex-preview {
    position: relative;
    min-height: 1.5em;
    overflow: hidden;
    margin: 0 1% 10px 1%;
    padding: 0.5% 0.5% 0 5em;
    border: 1px solid #CCC;
    border-radius: 4px;
}
#tw-quiz div.tex-preview:before {
    content: "Preview:";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 4em;
    padding: 0.5%;
    background: #CCC;
}

#tw-quiz table {
    width: 100%;
}
#tw-quiz table .grand-total,
#tw-quiz table .numeric {
    text-align: right;
}
#tw-quiz tr.claimed {
    color: #999;
}

#tw-quiz .coinlogo {
    float: right;
}

/* === Instructions box ============================================================= */
div.instructions_box{
	max-width: 500px;
	border: 1px solid #08c;
	border-radius: 2px;
	background: #fff;
	padding: 1px 6px 1px 6px;
	margin-bottom: 20px;
	color: #333;
}
h4.instructions_heading{
	font-size: 14px;
	cursor: pointer;
	color: #08c;
	padding-top: 30px;
	font-weight: 500;
}
@media screen and (max-width:480px) {
	h4.instructions_heading{
	    padding-top:0;
	}
}
/* === Footer ============================================================== */

#tw-timer {
    text-align: right;
    font-weight: bold;
    width: 40%;
    float:right;
}
#tw-timer span {
    display: none;
}
#tw-timer span:before {
    content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAMAAABhEH5lAAAAMFBMVEX////////////+/v77+/v09PTm5ubd3d3BwcGnp6eMjIxubm5dXV1NTU1AQEBAQEA4t+VPAAAAgklEQVQY002PQQ4EIQgEK1FRQdL//+0e1HX6RCqVBmBnSYtPSiGlpJRLWgZIENkOmnLzCDfXvNoIhXsoxiVdAbVCqB+kCZQOTG0SAVDmm9u2W+yOBpgqQE+AKgNMZ8fu/aC1Hmqy95qpAeR8aOZpsSedW/0yk/91rQFj6VNhnlL6ln9/awULbw0bAgAAAABJRU5ErkJggg==);
    vertical-align: sub;
    padding-right: 3px;
}
@media screen and (max-width:480px) {
	#tw-timer {
	    font-size: 12px;
	}
}
.status {
    font-size: 95%;
}
/* #tw-actions floats right on the start page but has width:auto on all other pages*/
.status #tw-actions{
	width: 100%;
	float: right;
}
body.quiz-start .status #tw-actions {
    width: auto;    
}
.status #tw-actions > * {
    margin-left: 5px;
    margin-bottom: 3px
}

.status .grades {
    white-space: nowrap;
    margin-top: 3px;
}
/* A container with you grade and the timer */
#grade-container{
	position: relative;
	width: 100%;
	overflow: auto;
	padding-bottom: 10px;
}
#tw-grade{
	width: 60%;
	float: left;
	font-weight: bold;	
	
}
@media screen and (max-width:480px) {
	#grade-container {
	    padding-bottom:5px;
	}
	#tw-grade{
		font-size: 12px;	
	}
	body.quiz-start .grade{
		font-size: 12px;
	}	
}
body.quiz-start span.grade{
	padding-left: 10px;
}

.status #tw-previous-answers ol {
    margin: 0;
}
.status #tw-previous-answers li {
    float: left;
    width: 3em;
    list-style-position: inside;
    padding-left: 2em;
    font-weight: bold;
}
.status #tw-previous-answers .correct * { color: green; }
.status #tw-previous-answers .incorrect * { color: red; }

/* Hide previous answers on small screens */
@media screen and (max-width:480px) {
	#tw-previous-answers {
	    display: none;
	}	
}
footer {
    clear: both;
    margin-top: 1em;
    font-size: 85%;
}
/* === Lecture selection lists ============================================= */
.select-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.select-list > li {
    padding: 0 5px;
    border-radius: 3px;
    background-color: #FFF;
    margin-bottom: 5px;
}

.select-list > li ul {
    max-height: 0px;
    overflow: hidden;
    list-style-type: none;
    margin: 0;
}
.select-list > li.expanded ul {
    max-height: 1000px;
}

.select-list a,
.select-list a:link,
.select-list a:visited {
    display: block;
    overflow: hidden;
    padding: 0 5px;
    color: #3a3b3e;
}
.select-list > li > a,
.select-list > li > a:link,
.select-list > li > a:visited {
    background-color: #08c;
    color: #fff;
    margin: 0 -5px;
    padding: 0 10px;
    border-radius: 3px 3px 0 0;
}
.select-list a:hover,
.select-list a:active {
    background-color: yellow;
    color: #3a3b3e;
    text-decoration: none;
}
.select-list a.selected {
    background-color: orange;
    color: #3a3b3e;
}

.select-list .grade {
    float: right;
}

.select-list.review div.parse-as-tex {
    display: inline;
}

.select-list.review .aside {
    float: right;
}

/* === Quiz load page ====================================================== */

body.quiz-load #tw-proceed {
    opacity: 0;
}
body.quiz-load #tw-proceed.ready {
    opacity: 1;
}

/* === Slide styling ======================================================= */

#tw-slide-prev, #tw-slide-next {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 40px;
    padding: 0 10px;
    font-size: 200%;
    line-height: 500%;
    text-align: left;
}
#tw-slide-prev.disabled, #tw-slide-next.disabled {
    display: none;
}
#tw-slide-prev:link, #tw-slide-next:link,
#tw-slide-prev:active, #tw-slide-next:active,
#tw-slide-prev:visited, #tw-slide-next:visited {
    text-decoration: none;
    color: #777;
}
#tw-slide-prev:hover, #tw-slide-next:hover {
    color: #300;
}
#tw-slide-next {
    left: auto;
    right: 0;
    text-align: right;
}
.slide-collection > * {
    display: none;
}
.slide-collection > *.selected {
    display: block;
}
.slide-content > * {
    position: relative;
    overflow: hidden;
}
.slide-content h2 {
    display: none;
}
.slide-content figure {
    width: 100%;
    margin: 0;
    text-align: center;
    cursor: pointer;
}
.slide-content figure pre {
    text-align: left;
}
.slide-content figure svg,
.slide-content figure img {
    max-width: 100%;
}
.slide-content figure figcaption small {
    display: block
}
.slide-content figure pre.code-block {
    display: none;
}
.slide-content figure.show-code > * {
    display: none;
}
.slide-content figure.show-code pre.code-block {
    display: block;
}
@media all and (min-width: 900px) {
    .slide-content figure {
        float: right;
        width: 50%;
    }
}
	.slide-content details summary {
    line-height: 2em;
    padding: 0 1em;
    cursor: pointer;
	}
}



